:root {
    --primary-color: #af010a;
    --primary-light-color: #efd3d4;
    --link-color: #1890ff; 
    --success-color: #52c41a; 
    --warning-color: #faad14;
    --warning-light-color: #ebbd61; 
    --error-color: #f5222d; 
    --secondary-color: #392b65;
    --secondary-light-color: #655599;
}
