#header {
    background-color: #fff;
    padding: 13px;
    height: 58px;
    line-height: 58px;
    button {
        border: none;
    }
    #hamburger {
        line-height: normal;
        vertical-align: top;
    }

    #search-header {
        margin-left: 30px;
    }
}