.ant-layout-content {
    padding: 15px;
}
.ant-list-item{
    background: white;
    border: 1px solid;
}

.add-ons{
    width: 50%;
}

.item-no{
    width: 5%;
    font-size: 20px;
}

.ant-notification .ant-notification-topRight{  
    z-index: 9999;
}