.ant-layout-content {
    padding: 15px;
}

.select{
    width: 200; 
    float: 'right';
}

.ant-notification .ant-notification-topRight{  
     z-index: 9999;
}

.ant-input-group-addon{
    padding: 0px;
}

.ascending-icon{
    float: right;
    font-size: 20px;
}

.filter-btn{
    border-radius: 20px;
    margin-right: 5px;
}

.ant-card-meta-description{ 
    height: 50px !important;
    font-family: cursive !important;
    
}

.ant-card-meta-title{
    font-family: cursive !important;
    font-size: medium;
}

.ant-select-selector{
    height: 40px !important;
    border-radius: 20px !important;
}

.ant-select-selection-item{
    font-weight: 800;
}